<marquee direction = "right" scrollamount="4">
  <h2>Introducing...
    <%= @cat.name%>

  </h2>
</marquee>

<a href="/home">Go Home</a><br>
<a href="/cats">View All</a><br><br>

<a href="/cats/<%= @cat.id%>/edit">Edit the evil</a>
<a href="/cats/<%= @cat.id%>/delete">Kill it!!!</a>
<br><br>
<img src="<%= @cat.image_url %>">
<br><br>
<strong>Evilness: </strong> <%= @cat.evilness %>
<br>
<br>
<strong>Victims: </strong> <%= @cat.victims %>
<br>
<br>
<strong>Details: </strong> <%= @cat.description %>
<br>
<br>
<strong>To Kill List</strong>
  <% @cat.doggos.each do |doggo| %>
    <a href="/doggos/<%= doggo.id %>">
      <li><%= doggo.name %></li>
    </a>
  <% end %>
